<main>
        <div class="portfolio-area pt-75 pb-80 container-padding-res">
            <div class="container">
                <div class="portfolio-menu-active portfolio-menu-1 pro-menu-btn text-center mb-50">
                    <button class="active" data-filter="*">All</button>
                    <button data-filter=".BrandManagement">Brand Management</button>
                    <button data-filter=".DigitalMarketing">Digital Marketing</button>
                    <button data-filter=".GraphicDesign">Graphic Design</button>
                    <button data-filter=".WebDevelopment">Web Development</button>
                    <button data-filter=".Photography">Photography</button>
                    <button data-filter=".Videography">Videography</button>
                </div>
                <div class="portfolio-style pro-col-40">
                    <div class="row grid">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item BrandManagement DigitalMarketing GraphicDesign">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <a href="rebranding-under-a-new-name">
                                        <img alt="" src="assets/img/portfolio/NewName.png">
                                    </a>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="rebranding-under-a-new-name">Rebranding Under A New Name</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <a href="rebranding-under-a-new-name"><i class="ti-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item WebDevelopment">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <a href="blog-why-i-learned-code">
                                        <img alt="" src="assets/img/portfolio/MarketingTheMerger.png">
                                    </a>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="blog-why-i-learned-code">Why I Learned To Code</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <a href="blog-why-i-learned-code"><i class="ti-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        {{!-- <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item branding marketing design">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <a href="/{{portfolio-details1}}">
                                        <img alt="" src="assets/img/portfolio/MarketingTheMerger.png">
                                    </a>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/{{portfolio-details1}}">Three Companies Become One</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <a href="/{{portfolio-details1}}"><i class="ti-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>					
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item branding">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <a href="/{{portfolio-details1}}">
                                        <img alt="" src="assets/img/portfolio/Rebranding1.png">
                                    </a>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/{{portfolio-details1}}">Rebranding: Phase 1</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <a href="/{{portfolio-details1}}"><i class="ti-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item branding marketing">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <a href="/{{portfolio-details1}}">
                                        <img alt="" src="assets/img/portfolio/SoftLaunch.png">
                                    </a>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/{{portfolio-details1}}">The Rebrand: Soft Launch</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <a href="/{{portfolio-details1}}"><i class="ti-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>					
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item branding">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <a href="/{{portfolio-details1}}">
                                        <img alt="" src="assets/img/portfolio/InsideOut.png">
                                    </a>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/{{portfolio-details1}}">Building Up The Corporate Culture</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <a href="/{{portfolio-details1}}"><i class="ti-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item branding design">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <a href="/{{portfolio-details1}}">
                                        <img alt="" src="assets/img/portfolio/Rebranding2.png">
                                    </a>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/{{portfolio-details1}}">Rebranding: Phase 2</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <a href="/{{portfolio-details1}}"><i class="ti-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item branding design">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <a href="/{{portfolio-details1}}">
                                        <img alt="" src="assets/img/portfolio/Rebranding3.png">
                                    </a>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="#">Rebranding: Phase 3</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <a href="/{{portfolio-details1}}"><i class="ti-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item branding marketing">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <a href="/{{portfolio-details1}}">
                                        <img alt="" src="assets/img/portfolio/OfficialLaunch.png">
                                    </a>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/{{portfolio-details1}}">The New Brand</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <a href="/{{portfolio-details1}}"><i class="ti-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item branding marketing">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <a href="/{{portfolio-details1}}">
                                        <img alt="" src="assets/img/portfolio/PublicRelations.png">
                                    </a>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/{{portfolio-details1}}">Announcing A New Name</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <a href="/{{portfolio-details1}}"><i class="ti-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>				
                        </div> --}}
                        {{!---<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat3">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <a href="/{{portfolio-details1}}">
                                        <img alt="" src="assets/img/portfolio/MarketingTheMerger.png">
                                    </a>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/{{portfolio-details1}}">Build the Next Generation</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <a href="/{{portfolio-details1}}"><i class="ti-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat3">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <a href="/{{portfolio-details1}}">
                                        <img alt="" src="assets/img/portfolio/MarketingTheMerger.png">
                                    </a>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/{{portfolio-details1}}">Simply Beautiful</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <a href="/{{portfolio-details1}}"><i class="ti-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>				
                        </div> --}}
                    </div>	
                </div>
            </div>
        </div>
        {{!-- <footer class="footer-area theme-bg pt-70 pb-50 clear-fix">
            <div class="container">
                <div class="footer-middle pt-65">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-5">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-20">
                                    <h4>CONTACT</h4>
                                </div>
                                <div class="footer-cont-info">
                                    <div class="single-footer-cont-info">
                                        <div class="cont-info-icon">
                                            <i class="ti-mobile"></i>
                                        </div>
                                        <div class="cont-info-content">
                                            <p>megan.barrera1@gmail.com</p>
                                        </div>
                                    </div>
                                    <div class="single-footer-cont-info">
                                        <div class="cont-info-icon">
                                            <i class="ti-location-pin"></i>
                                        </div>
                                        <div class="cont-info-content">
                                            <p>Chicago, IL</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-social">
                                    <ul>
                                        <li><a href="#"> <i class="ti-facebook"></i></a></li>
                                        <li><a href="#"> <i class="ti-instagram"></i></a></li>
                                        <li><a href="#"> <i class="ti-linkedin"></i></a></li>
                                        <li><a href="#"> <i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#"> <i class="ti-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-7">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-20">
                                    <h4>MENU</h4>
                                </div>
                                <div class="faq-accordion element-mrg">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel footer-accordion">
                                            <div class="panel-heading" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a href="/home">
                                                        Home
                                                    </a>
                                                </h4>
                                            </div>
                                        </div>                                        
                                        <div class="panel footer-accordion">
                                            <div class="panel-heading" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a href="/about">
                                                        About
                                                    </a>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel footer-accordion">
                                            <div class="panel-heading" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#checkoutMethod">
                                                        Portfolio
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="checkoutMethod" class="panel-collapse collapse show">
                                                <div class="panel-body">
                                                    <a href="/portfolio-categories"><p>Digital Marketing</p></a>
                                                    <a href="/portfolio-categories"><p>Graphic Design</p></a>
                                                    <a href="/portfolio-categories"><p>Web Development</p></a>
                                                    <a href="/portfolio-categories"><p>Videography</p></a>
                                                    <a href="/portfolio-categories"><p>Photography</p></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel footer-accordion">
                                            <div class="panel-heading" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a href="/blog">
                                                        Blog
                                                    </a>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel footer-accordion">
                                            <div class="panel-heading" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a href="/contact">
                                                        Contact
                                                    </a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-20">
                                    <h4>Latest Posts</h4>
                                </div>
                                <div class="twitter-info">
                                    <div class="single-twitter-info">
                                        <div class="twitter-icon">
                                            <i class="ti-twitter-alt"></i>
                                        </div>
                                        <div class="twitter-content">
                                            <p>Props to YouTube star @CaseyNeistat for turning an abandoned mall into a #WinterWonderland for dozens of kiddos. <br>
                                            <a href="#">http://bit.ly/2AUNTLV </a></p>
                                        </div>
                                    </div>
                                    <div class="single-twitter-info">
                                        <div class="twitter-icon">
                                            <i class="ti-twitter-alt"></i>
                                        </div>
                                        <div class="twitter-content">
                                            <p>Props to YouTube star @CaseyNeistat for turning an abandoned mall into a #WinterWonderland for dozens of kiddos. <br>
                                            <a href="#">http://bit.ly/2AUNTLV </a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-20">
                                    <h4>Instagram</h4>
                                </div>
                                <div class="instagram-img">
                                    <ul>
                                        <li><a href="#"><img src="assets/img/instragram/1.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/instragram/2.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/instragram/3.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/instragram/4.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/instragram/5.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/instragram/6.jpg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer> --}}
</main>
